<script type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>

<div class="container">
    <h3>Tracking Results for {{trackData.trackingNumber}}</h3>
    <a href="/">&lt; Track Another</a><br />
    <a href="{{trackData.trackingNumber}}.rss">RSS Feed</a>

    <p>
        {{#if trackData.weight }}
            Weight: {{trackData.weight}}<br />
        {{/if}}
        {{#if trackData.estimatedDelivery}}
            Estimated Delivery: {{trackData.estimatedDeliveryFriendly}}<br />
        {{/if}}
        
    </p>

    <table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <td>Date/Time</td>
                <td>Location</td>
                <td>Description</td>
            </tr>
        </thead>
        <tbody>
            {{#if trackData.activity}}
                {{#each trackData.activity}}
                    <tr>
                            <td>{{friendlyTimestamp}}</td>
                            <td>{{locationDislpay}}<!-- {{location.lat}},{{location.long}} --></td>
                            <td>{{shortDescription}}</td>
                    </tr>
                {{/each}}
            {{/if}}
        </tbody>
    </table>

    <div id="map" style="height: 400px; width: 600px"></div>

    <p class="trackerTerms">
       Terms and Conditions: {{trackData.usageRequirements}}
    </p>
</div>

<script>
    var trackData = {{trackDataJson}};
</script>
<script src="/map.js"></script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmvS6F72dNrnN8ZLbiFHWR7LMuE1aA9hI&callback=initMap">
</script>